In [29]:
import pandas as pd
import numpy as np

In [30]:
return_data = pd.read_csv('CRSP_daily.csv', delimiter=',', parse_dates=[1])

/var/folders/6g/plqml0hn22g3qdqvmsw_8wsw0000gn/T/ipykernel_6971/1845813826.py:1: DtypeWarning: Columns (6,11,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  return_data = pd.read_csv('CRSP_daily.csv', delimiter=',', parse_dates=[1])

In [31]:
return_data.head()

,PERMNO,date,SHRCD,EXCHCD,TICKER,COMNAM,SHRCLS,PRIMEXCH,TRDSTAT,SECSTAT,...,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,10104,2009-01-02,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,17.64,83748.0,0.038353,0.030512,0.030311,0.038274,0.038221,0.031608
1,10104,2009-01-05,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.09,5046177.0,18.19,96278.0,-0.017382,-0.000600,-0.000623,0.016764,0.016737,-0.004668
2,10104,2009-01-06,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,18.17,105581.0,0.016584,0.011305,0.011295,0.033647,0.033620,0.007817
3,10104,2009-01-07,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.65,5046177.0,18.06,116318.0,-0.040239,-0.030516,-0.030889,-0.022271,-0.022326,-0.030010
4,10104,2009-01-08,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.62,5046177.0,17.50,112164.0,-0.0017,0.006281,0.006247,0.011896,0.011791,0.003397

In [32]:
return_data = return_data[return_data['RET'] != 'C']#['excess_ret']#.astype(float)
return_data['RET'] = return_data['RET'].astype(float)

In [33]:
return_data

,PERMNO,date,SHRCD,EXCHCD,TICKER,COMNAM,SHRCLS,PRIMEXCH,TRDSTAT,SECSTAT,...,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,10104,2009-01-02,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,17.64,83748.0,0.038353,0.030512,0.030311,0.038274,0.038221,0.031608
1,10104,2009-01-05,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.09,5046177.0,18.19,96278.0,-0.017382,-0.000600,-0.000623,0.016764,0.016737,-0.004668
2,10104,2009-01-06,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,18.17,105581.0,0.016584,0.011305,0.011295,0.033647,0.033620,0.007817
3,10104,2009-01-07,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.65,5046177.0,18.06,116318.0,-0.040239,-0.030516,-0.030889,-0.022271,-0.022326,-0.030010
4,10104,2009-01-08,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.62,5046177.0,17.50,112164.0,-0.0017,0.006281,0.006247,0.011896,0.011791,0.003397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508860,93422,2021-03-11,11,1,QEP,Q E P RESOURCES INC,NaN,N,A,R,...,4.38,242566.0,4.22,NaN,0.047847,0.014170,0.014108,0.020996,0.020904,0.010395
1508861,93422,2021-03-12,11,1,QEP,Q E P RESOURCES INC,NaN,N,A,R,...,4.21,242566.0,4.33,NaN,-0.043379,0.001509,0.001305,0.004662,0.004443,0.001015
1508862,93422,2021-03-15,11,1,QEP,Q E P RESOURCES INC,NaN,N,A,R,...,4.28,242566.0,4.24,NaN,0.019093,0.007061,0.007020,0.008545,0.008509,0.006492
1508863,93422,2021-03-16,11,1,QEP,Q E P RESOURCES INC,NaN,N,A,R,...,4.10,242566.0,4.16,NaN,-0.044496,-0.004282,-0.004319,-0.010860,-0.010961,-0.001570
1508864,93422,2021-03-17,11,1,QEP,Q E P RESOURCES INC,NaN,N,A,R,...,NaN,NaN,NaN,NaN,NaN,0.003570,0.003556,0.007362,0.007304,0.002879

In [42]:
sp_returns = return_data[['date', 'sprtrn']]

In [47]:
sp_returns = sp_returns.groupby('date')['sprtrn'].apply(lambda x: x.unique()[0]).reset_index()

In [48]:
sp_returns = sp_returns.set_index('date')

In [49]:
sp_returns

              sprtrn
date
2009-01-02  0.031608
2009-01-05 -0.004668
2009-01-06  0.007817
2009-01-07 -0.030010
2009-01-08  0.003397
...              ...
2022-06-24  0.030563
2022-06-27 -0.002973
2022-06-28 -0.020143
2022-06-29 -0.000712
2022-06-30 -0.008759

[3397 rows x 1 columns]

In [50]:
sp_returns[sp_returns.index < '2009-01-20']

              sprtrn
date
2009-01-02  0.031608
2009-01-05 -0.004668
2009-01-06  0.007817
2009-01-07 -0.030010
2009-01-08  0.003397
2009-01-09 -0.021303
2009-01-12 -0.022564
2009-01-13  0.001758
2009-01-14 -0.033460
2009-01-15  0.001329
2009-01-16  0.007562

In [51]:
weekly_sp_returns = sp_returns.groupby(pd.Grouper(level='date', freq='W-FRI')).sum(min_count=1)

In [52]:
weekly_sp_returns

              sprtrn
date
2009-01-02  0.031608
2009-01-09 -0.044767
2009-01-16 -0.045375
2009-01-23 -0.019109
2009-01-30 -0.005872
...              ...
2022-06-03 -0.011673
2022-06-10 -0.051043
2022-06-17 -0.058260
2022-06-24  0.063270
2022-07-01 -0.032587

[705 rows x 1 columns]

In [53]:
weekly_sp_returns.dtypes

sprtrn    float64
dtype: object

In [54]:
weekly_sp_returns.loc[pd.Timestamp('2012-12-28 00:00:00', freq='W-FRI')].sprtrn

/var/folders/6g/plqml0hn22g3qdqvmsw_8wsw0000gn/T/ipykernel_6971/509971809.py:1: FutureWarning: The 'freq' argument in Timestamp is deprecated and will be removed in a future version.
  weekly_sp_returns.loc[pd.Timestamp('2012-12-28 00:00:00', freq='W-FRI')].sprtrn

-0.019495

In [55]:
weekly_sp_returns

              sprtrn
date
2009-01-02  0.031608
2009-01-09 -0.044767
2009-01-16 -0.045375
2009-01-23 -0.019109
2009-01-30 -0.005872
...              ...
2022-06-03 -0.011673
2022-06-10 -0.051043
2022-06-17 -0.058260
2022-06-24  0.063270
2022-07-01 -0.032587

[705 rows x 1 columns]

In [56]:
weekly_sp_returns.to_pickle('weekly_sp_returns.pkl')