In [1]:
import pandas as pd
import numpy as np

In [5]:
return_data = pd.read_csv('CRSP_daily.csv', delimiter=',', parse_dates=[1])

/var/folders/6g/plqml0hn22g3qdqvmsw_8wsw0000gn/T/ipykernel_6971/1845813826.py:1: DtypeWarning: Columns (6,11,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  return_data = pd.read_csv('CRSP_daily.csv', delimiter=',', parse_dates=[1])

In [6]:
return_data.head()

,PERMNO,date,SHRCD,EXCHCD,TICKER,COMNAM,SHRCLS,PRIMEXCH,TRDSTAT,SECSTAT,...,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,10104,2009-01-02,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,17.64,83748.0,0.038353,0.030512,0.030311,0.038274,0.038221,0.031608
1,10104,2009-01-05,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.09,5046177.0,18.19,96278.0,-0.017382,-0.000600,-0.000623,0.016764,0.016737,-0.004668
2,10104,2009-01-06,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,18.17,105581.0,0.016584,0.011305,0.011295,0.033647,0.033620,0.007817
3,10104,2009-01-07,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.65,5046177.0,18.06,116318.0,-0.040239,-0.030516,-0.030889,-0.022271,-0.022326,-0.030010
4,10104,2009-01-08,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.62,5046177.0,17.50,112164.0,-0.0017,0.006281,0.006247,0.011896,0.011791,0.003397

In [7]:
return_data = return_data[return_data['RET'] != 'C']#['excess_ret']#.astype(float)
return_data['RET'] = return_data['RET'].astype(float)

In [10]:
sp_returns = return_data[['date', 'sprtrn']]

In [13]:
sp_returns = sp_returns.set_index('date')

In [16]:
weekly_sp_returns = sp_returns.groupby(pd.Grouper(level='date', freq='W-FRI')).sum(min_count=1)

In [17]:
weekly_sp_returns.to_pickle('weekly_sp_returns.pkl')