In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [25]:
spx = pd.read_csv('../../data/sp500.csv',index_col=0)
with open('../../data/permno_codes.txt','w') as f:
    f.write('\n'.join([str(x) for x in spx['permno'].astype(int).unique()]))
print(len(spx['permno'].astype(int).unique()))

727

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_28937/4096431980.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  spx = pd.read_csv('../../data/sp500.csv',index_col=0)

In [3]:
spx = pd.read_csv('data/sp500.csv',index_col=0)
concat_lst = []
for date in spx['date'].unique():
    ser = spx.loc[spx['date']==date,'gvkey'].reset_index(drop=True).rename(date).iloc[:500]
    concat_lst.append(ser)
universe = pd.DataFrame(concat_lst)
universe.index=universe.index.rename('Date')
universe.to_pickle('data/universe.pkl',protocol=4)

display(universe)

spx = pd.read_csv('data/sp500.csv',index_col=0)
concat_lst = []
for date in spx['date'].unique():
    ser = spx.loc[spx['date']==date,'permno'].reset_index(drop=True).rename(date).iloc[:500]
    concat_lst.append(ser)
universe = pd.DataFrame(concat_lst)
universe.index=universe.index.rename('Date')
universe.to_pickle('data/permno_universe.pkl',protocol=4)

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_5873/938793051.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  spx = pd.read_csv('data/sp500.csv',index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Date,,,,,,,,,,,,,,,,,,,,,
2011-01-31,7875.0,2184.0,30490.0,1447.0,13646.0,3905.0,63643.0,4843.0,14623.0,7647.0,...,1661.0,10420.0,7923.0,11264.0,4674.0,29984.0,25356.0,2269.0,122841.0,5680.0
2011-02-28,6730.0,3336.0,111864.0,7017.0,13125.0,4087.0,27928.0,9850.0,1356.0,12886.0,...,12123.0,160329.0,6669.0,2710.0,8446.0,11506.0,23877.0,9299.0,8606.0,27965.0
2011-03-31,29984.0,23877.0,10190.0,5256.0,122841.0,3362.0,13003.0,2269.0,11264.0,6649.0,...,61574.0,5568.0,9359.0,24893.0,25340.0,3813.0,30490.0,157057.0,28477.0,3905.0
2011-04-29,11555.0,2184.0,8823.0,28930.0,7506.0,9882.0,8539.0,66446.0,11259.0,64925.0,...,6104.0,7343.0,23877.0,9555.0,14282.0,12141.0,4560.0,1447.0,6266.0,64768.0
2011-05-31,29984.0,12138.0,7637.0,10190.0,29028.0,2086.0,1075.0,7881.0,2136.0,3505.0,...,14623.0,22325.0,1078.0,149070.0,10187.0,24893.0,30490.0,174490.0,62984.0,10420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,143356.0,6669.0,144009.0,23238.0,9555.0,65417.0,31887.0,29127.0,32106.0,14934.0,...,9465.0,7366.0,187450.0,28349.0,7163.0,10795.0,60900.0,6829.0,142953.0,66368.0
2021-09-30,3897.0,25279.0,29028.0,13700.0,184996.0,62374.0,133768.0,10867.0,7017.0,7637.0,...,4494.0,7970.0,2968.0,14275.0,187450.0,4990.0,7228.0,179437.0,1075.0,2184.0
2021-10-29,186989.0,31887.0,3026.0,121382.0,14934.0,6104.0,126554.0,5439.0,6669.0,4060.0,...,3336.0,34410.0,175319.0,105365.0,294524.0,3439.0,12124.0,11672.0,25119.0,8007.0
2021-11-30,64630.0,8151.0,121077.0,30822.0,22260.0,9465.0,7154.0,165123.0,8068.0,3504.0,...,29392.0,147579.0,7647.0,30293.0,175263.0,3144.0,2817.0,117768.0,29830.0,5439.0
2021-12-31,2817.0,1075.0,316056.0,25279.0,16245.0,2184.0,179437.0,187450.0,14275.0,6136.0,...,133768.0,7017.0,6774.0,10867.0,165914.0,62374.0,23809.0,7228.0,5606.0,13700.0

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_5873/938793051.py:12: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  spx = pd.read_csv('data/sp500.csv',index_col=0)

In [4]:
spx[spx['gvkey']!=13353][['permno','gvkey','date']].drop_duplicates().groupby(['permno','date']).count().sort_values(by='gvkey')

                    gvkey
permno  date
10104.0 2011-01-31      1
78916.0 2015-08-31      1
        2015-09-30      1
        2015-10-30      1
        2015-11-30      1
...                   ...
38156.0 2016-12-30      1
        2017-01-31      1
        2017-02-28      1
        2019-12-31      1
93436.0 2021-12-31      1

[65998 rows x 1 columns]

In [4]:
mapper_df = spx[spx['gvkey']!=13353][['date','permno','gvkey']]
mapper_df['date'] = pd.to_datetime(mapper_df['date'])
mapper_df.to_pickle('data/mapper_df.pkl',protocol=4)
def get_mapper(date,permno=None,gvkey=None):
    mapper = mapper_df[mapper_df['date']<= date]
    mapper = mapper[mapper['date'] == mapper['date'].max()].drop('date',axis=1)
    assert len(mapper) > 0
    if permno is not None:
        mapper = mapper.set_index('permno')
        return mapper.loc[permno,'gvkey'].tolist()
    else:
        assert gvkey is not None
        mapper = mapper.set_index('gvkey')
        return mapper.loc[gvkey,'permno'].tolist()

get_mapper('2011-01-31',permno = [60986,85914,80711])

[7875, 2184, 30490]

In [15]:
df = pd.read_csv('data/CRSP_daily.csv')
df['date'] = pd.to_datetime(df['date'],format='%Y%m%d')
print(df.columns)
df.head()

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_43923/840945838.py:1: DtypeWarning: Columns (3,8,13,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/CRSP_daily.csv')

Index(['PERMNO', 'date', 'EXCHCD', 'NCUSIP', 'TICKER', 'TRDSTAT', 'SECSTAT',
       'PERMCO', 'CUSIP', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'RET', 'BID', 'ASK',
       'OPENPRC', 'NUMTRD', 'RETX'],
      dtype='object')

,PERMNO,date,EXCHCD,NCUSIP,TICKER,TRDSTAT,SECSTAT,PERMCO,CUSIP,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,OPENPRC,NUMTRD,RETX
0,10104,2000-01-03,3,68389X10,ORCL,A,R,8045,68389X10,111.6250,125.1875,118.1250,24831819.0,0.054099,118.1250,118.1875,124.62500,38710.0,0.054099
1,10104,2000-01-04,3,68389X10,ORCL,A,R,8045,68389X10,105.0000,118.6250,107.6875,29568565.0,-0.08836,107.6875,107.7500,115.50000,50279.0,-0.08836
2,10104,2000-01-05,3,68389X10,ORCL,A,R,8045,68389X10,96.0000,106.3750,102.0000,42032160.0,-0.052815,102.0000,102.0000,101.62500,60672.0,-0.052815
3,10104,2000-01-06,3,68389X10,ORCL,A,R,8045,68389X10,94.6875,105.0000,96.0000,27848885.0,-0.058824,96.0000,95.8750,100.15625,45177.0,-0.058824
4,10104,2000-01-07,3,68389X10,ORCL,A,R,8045,68389X10,93.5625,103.5000,103.3750,23218034.0,0.076823,103.2500,103.3750,95.00000,37044.0,0.076823

In [16]:
df['date'].min()

Timestamp('2000-01-03 00:00:00')

In [17]:
ret_df = df.set_index(['date','PERMNO'])
ret_df = ret_df['RET'][~(ret_df['RET'].isin(['C','B']))].astype(float).unstack()#.dropna(axis=1)
ret_df

PERMNO,10104,10107,10137,10138,10145,10147,10225,10299,10324,10516,...,92988,93002,93089,93096,93132,93159,93246,93422,93429,93436
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.054099,-0.001606,-0.037123,-0.049069,-0.017335,0.043478,-0.024575,0.006114,-0.026389,-0.010309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-0.088360,-0.033780,0.012048,-0.030249,-0.017641,-0.057018,-0.017442,0.027778,-0.067047,-0.010417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,-0.052815,0.010544,0.045238,-0.001835,-0.013468,-0.041860,0.005917,0.047297,0.059633,-0.015789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,-0.058824,-0.033498,-0.009112,0.029412,0.019340,-0.032767,0.009804,0.003226,0.062049,0.005348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,0.076823,0.013068,0.002299,-0.007143,0.053571,0.077792,0.001942,0.054662,0.042120,0.015957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,-0.006201,-0.001381,NaN,0.001008,0.015923,NaN,NaN,NaN,NaN,0.033838,...,NaN,0.003895,-0.001153,0.002580,-0.008877,NaN,-0.033424,NaN,0.009059,-0.003235
2022-03-28,0.022880,0.023117,NaN,0.009065,-0.003438,NaN,NaN,NaN,NaN,-0.012194,...,NaN,0.006377,0.017308,0.021809,0.017432,NaN,-0.000896,NaN,-0.015602,0.080345
2022-03-29,0.008254,0.015159,NaN,0.031477,0.002181,NaN,NaN,NaN,NaN,-0.048836,...,NaN,0.013573,0.015123,0.009810,0.026438,NaN,0.028207,NaN,0.016292,0.007080
2022-03-30,-0.011033,-0.004914,NaN,-0.012258,-0.005062,NaN,NaN,NaN,NaN,0.016621,...,NaN,-0.016181,0.010102,-0.004595,-0.015972,NaN,-0.031388,NaN,-0.000784,-0.005075
2022-03-31,-0.007558,-0.017683,NaN,-0.012476,-0.009972,NaN,NaN,NaN,NaN,0.010750,...,NaN,-0.002234,-0.010785,-0.021278,-0.000556,NaN,-0.044364,NaN,-0.002354,-0.014982

In [19]:
weekly_ret_df = ret_df.groupby(pd.Grouper(level='date', freq='W-FRI')).sum(min_count=4)
weekly_ret_df.to_pickle('data/weekly_ret_df.pkl',protocol=4)
weekly_ret_df

PERMNO,10104,10107,10137,10138,10145,10147,10225,10299,10324,10516,...,92988,93002,93089,93096,93132,93159,93246,93422,93429,93436
date,,,,,,,,,,,,,,,,,,,,,
2000-01-07,-0.069077,-0.045272,0.013350,-0.058884,0.024467,-0.010375,-0.024354,0.139077,0.070366,-0.015210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-14,0.041817,0.009168,-0.006669,0.119494,0.014836,0.048875,-0.011374,0.094433,0.098975,0.047375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-21,0.113094,-0.075376,0.031765,0.024116,-0.150019,0.075196,-0.027251,0.002765,-0.028687,0.040774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-28,-0.219657,-0.053451,-0.048620,-0.082560,-0.123885,-0.147468,-0.083079,0.016026,-0.046018,-0.094290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-04,0.204794,0.083508,0.054061,0.020165,0.049411,0.059875,-0.050616,0.113239,0.109782,-0.000681,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-04,0.002539,-0.024811,NaN,-0.044498,-0.005319,NaN,NaN,NaN,NaN,0.048968,...,NaN,0.014813,0.045059,0.059101,0.034221,NaN,0.003307,NaN,0.026386,0.038437
2022-03-11,0.018574,-0.032305,NaN,-0.016535,-0.027508,NaN,NaN,NaN,NaN,0.010402,...,NaN,-0.029023,-0.030257,-0.024429,-0.171981,NaN,-0.116354,NaN,-0.054637,-0.048945
2022-03-18,0.049629,0.071462,NaN,0.083535,0.066824,NaN,NaN,NaN,NaN,0.005157,...,NaN,0.056306,0.138051,0.112825,0.139880,NaN,0.129133,NaN,0.024555,0.133826
2022-03-25,0.001136,0.011134,NaN,0.015367,0.016031,NaN,NaN,NaN,NaN,0.108808,...,NaN,0.037951,-0.000954,-0.035905,0.040949,NaN,-0.019355,NaN,-0.016667,0.113220
2022-04-01,0.012543,0.015679,NaN,0.015808,-0.016291,NaN,NaN,NaN,NaN,-0.033659,...,NaN,0.001535,0.031748,0.005746,0.027342,NaN,-0.048441,NaN,-0.002448,0.067368

In [20]:
ret_periods = [1,5,10,21,42,63,126]
min_periods = [1,5,10,20,40,60,120]
hist_ret_lst = []

for period,min_period in zip(ret_periods,min_periods):
    ser = ret_df.rolling(period,min_periods=min_period,axis=0).mean().stack()*252/period
    ser = ser.rename(f'annret_{period}')
    hist_ret_lst.append(ser)

    ser = ret_df.rolling(period,min_periods=min_period,axis=0).std().stack()*np.sqrt(252/period)
    ser = ser.rename(f'annvol_{period}')
    hist_ret_lst.append(ser)

hist_ret_df = pd.concat(hist_ret_lst,axis=1)
hist_ret_df

KeyboardInterrupt:

In [ ]:
hist_ret_df = hist_ret_df.drop('annvol_1',axis=1)
hist_ret_df.to_pickle('data/hist_ret_df.pkl.gz',protocol=4)

In [ ]:
(~hist_ret_df.loc['2014-01-02'].isna()).sum()

annret_1      366
annret_5      366
annvol_5      366
annret_10     366
annvol_10     366
annret_21     366
annvol_21     366
annret_42     366
annvol_42     366
annret_63     366
annvol_63     366
annret_126    366
annvol_126    366
dtype: int64

In [13]:
df2 = pd.read_csv('data/CRSP_monthly.csv')
df2.columns

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_21909/1719039263.py:1: DtypeWarning: Columns (44,48,49,50,56,70,71,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('data/CRSP_monthly.csv')

Index(['GVKEY', 'LPERMNO', 'LPERMCO', 'iid', 'datadate', 'tic', 'cusip',
       'conm', 'ajexm', 'ajpm', 'isalrt', 'primiss', 'cheqvm', 'curcddvm',
       'dvpspm', 'dvpsxm', 'dvrate', 'csfsm', 'cshtrm', 'curcdm', 'navm',
       'prccm', 'prchm', 'prclm', 'trfm', 'trt1m', 'rawpm', 'rawxm', 'sph100',
       'sphcusip', 'sphiid', 'sphmid', 'sphname', 'sphsec', 'sphtic', 'sphvg',
       'cshoq', 'adrrm', 'cmth', 'cshom', 'cyear', 'mkvalincl', 'exchg',
       'secstat', 'tpci', 'cik', 'fic', 'add1', 'add2', 'add3', 'add4',
       'addzip', 'busdesc', 'city', 'conml', 'costat', 'county', 'dlrsn',
       'ein', 'fax', 'fyrc', 'ggroup', 'gind', 'gsector', 'gsubind', 'idbflag',
       'incorp', 'loc', 'naics', 'phone', 'prican', 'prirow', 'priusa', 'sic',
       'spcindcd', 'spcseccd', 'spcsrc', 'state', 'stko', 'weburl', 'dldte',
       'ipodate'],
      dtype='object')

In [14]:
df2['datadate'].min()

20080131

In [15]:
all_sectors = df2['gsector'].dropna().unique()
sector_df = df2[['datadate','GVKEY','gsector']]
sector_df['datadate'] = pd.to_datetime(sector_df['datadate'],format='%Y%m%d')
sector_df = sector_df.sort_values('datadate').dropna()
sector_df.to_pickle('data/sector_df.pkl',protocol=4)
sector_df

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_21909/2149215156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_df['datadate'] = pd.to_datetime(sector_df['datadate'],format='%Y%m%d')

         datadate   GVKEY  gsector
250142 2008-01-31   16821     40.0
712649 2008-01-31  135986     35.0
23598  2008-01-31    2436     25.0
617606 2008-01-31   65050     40.0
90808  2008-01-31    6649     25.0
...           ...     ...      ...
42924  2022-12-31    3662     20.0
42744  2022-12-31    3650     20.0
112923 2022-12-31    8007     40.0
265164 2022-12-31   17795     40.0
114652 2022-12-31    8099     55.0

[921538 rows x 3 columns]

In [16]:
from itertools import combinations

def get_sector_edges(date,gvkey_dict):
    cur_sector_df = sector_df[sector_df['datadate']<= date]
    cur_sector_df = cur_sector_df[cur_sector_df['datadate'] == cur_sector_df['datadate'].max()].drop('datadate',axis=1)
    total = 0
    edge_lst = []
    for sector in all_sectors:
        gvkeys = cur_sector_df.loc[cur_sector_df['gsector']==sector,'GVKEY'].unique()
        pairs = list(combinations(gvkeys,2))
        total += len(pairs)
        edge_lst.extend(pairs)
    print(total)
    return edge_lst

In [17]:
_ = get_sector_edges(datetime(2013,1,1),get_gvkey_dict())

NameError: name 'get_gvkey_dict' is not defined

In [18]:
df3 = pd.read_csv('data/supply_chain.csv')
print(df3.columns)
df3

Index(['gvkey', 'conm', 'cgvkey', 'cconm', 'cnms', 'srcdate', 'cid', 'sid',
       'ctype', 'salecs', 'scusip', 'stic', 'ccusip', 'ctic'],
      dtype='object')

,gvkey,conm,cgvkey,cconm,cnms,srcdate,cid,sid,ctype,salecs,scusip,stic,ccusip,ctic
0,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2002/10/31,10,0,COMPANY,111.056,000886309,ADCT.1,92343V104,VZ
1,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2004/10/31,13,0,COMPANY,104.312,000886309,ADCT.1,92343V104,VZ
2,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2005/10/31,13,0,COMPANY,146.000,000886309,ADCT.1,92343V104,VZ
3,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2006/10/31,13,0,COMPANY,205.000,000886309,ADCT.1,92343V104,VZ
4,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2007/10/31,13,0,COMPANY,236.000,000886309,ADCT.1,92343V104,VZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71201,328032,NAVIOS MARITIME CONTAINERS,100431,HAPAG-LLOYD AG,Hapag-Lloyd AG,2019/12/31,3,1,COMPANY,25.334,Y62151108,NMCI,NaN,NaN
71202,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2018/12/31,1,2,COMPANY,283.318,039653100,ACA,369604301,GE
71203,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2019/12/31,1,2,COMPANY,316.116,039653100,ACA,369604301,GE
71204,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2020/12/31,1,2,COMPANY,296.147,039653100,ACA,369604301,GE
71205,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2021/12/31,1,2,COMPANY,192.727,039653100,ACA,369604301,GE

In [19]:
supchain_df = df3[['srcdate','gvkey','cgvkey','salecs']].sort_values(['srcdate'])
supchain_df['srcdate'] = pd.to_datetime(supchain_df['srcdate'])
supchain_df.to_pickle('data/supchain_df.pkl',protocol=4)
supchain_df

         srcdate   gvkey  cgvkey    salecs
39015 2000-01-31   62093   11535    12.373
47619 2000-01-31  117784    7127   425.376
8306  2000-01-31    7606    6066     0.081
50900 2000-01-31  132369   61877     0.571
39864 2000-01-31   62742    5691     1.653
...          ...     ...     ...       ...
42962 2022-03-31   64853  104604   511.029
18472 2022-03-31   16401  294932       NaN
18471 2022-03-31   16401    1690  1407.353
62781 2022-03-31  174077    1773   284.749
42961 2022-03-31   64853    1690  1533.086

[71206 rows x 4 columns]

In [20]:
def get_gvkey_dict():
    gvkey_dict = set(supchain_df['gvkey']).intersection(supchain_df['cgvkey'])
    N = len(gvkey_dict)
    gvkey_dict = dict(zip(list(gvkey_dict),range(N)))
    return gvkey_dict

def get_edges(date,gvkey_dict):
    cur_df = supchain_df[(supchain_df['srcdate'] <= date) & (supchain_df['srcdate'] >= date -pd.DateOffset(years=3)) ]
    gvkeys = gvkey_dict.keys()
    cur_df = cur_df[cur_df['gvkey'].isin(gvkeys) & cur_df['cgvkey'].isin(gvkeys)]
    c_edge_list = cur_df[['gvkey','cgvkey']].rename({'gvkey':'sup','cgvkey':'con'},axis=1).applymap(lambda x:gvkey_dict[x])
    s_edge_list = c_edge_list[['con','sup']].rename({'sup':'con','con':'sup'},axis=1)
    
    return c_edge_list.values,s_edge_list.values

In [21]:
from datetime import datetime
get_edges(datetime(2010,1,1),get_gvkey_dict())

(array([[1007, 1032],
        [  57,  638],
        [  57,   19],
        ...,
        [  44,  230],
        [ 273,  273],
        [ 273,  273]]),
 array([[1032, 1007],
        [ 638,   57],
        [  19,   57],
        ...,
        [ 230,   44],
        [ 273,  273],
        [ 273,  273]]))